header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header p{
    margin:0vh 0vw 2vh 0vw;
    font-weight: bold;
    text-shadow: 5px 3px 5px rgb(233, 186, 229);
}
header p:first-child{
    padding-top: 2vh;
}
body{
    margin: 0;
    padding: 0;
}
h1,h2,#jour div p:nth-child(1) {
    font-weight: bold;
    margin: 5px;
    padding: 0;
}
#jour div p:nth-child(1){
    font-size: 1.5em;
}
header {
    margin-bottom : 20px;
}
h3,p {
    margin: 0;
    padding: 0;
}
.video {
    background-color: rgb(200, 80, 80);
}
#jour div.projet {
    background-color: #d87eeb;
}
#jour {
    display: grid;
    grid-template-columns: .08fr repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
    border: 1px solid #aaa;
}
.finVideo{
    grid-column: 4!important;
    grid-row: 13/7!important;
}
.etude{
    background-color: aqua;
}
#jour div {
    border: 1px solid #aaa;
    grid-gap: 10px;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.vendredi-video{
    grid-column: 6!important;
    grid-row: 2/5!important;
}
#jour div:nth-child(1) {
    grid-column: 2;
    grid-row: 1/13;
    border: 1px solid #aaa;
    justify-content: flex-start;
}
#jour div:nth-child(2) {
    grid-column: 3;
    grid-row: 1/13;
    border: 1px solid #aaa;
    justify-content: flex-start;

}
#jour div:nth-child(3) {
    grid-column: 4;
    grid-row: 1/13;
    border: 1px solid #aaa;
    justify-content: flex-start;

}
#jour div:nth-child(4) {
    grid-column: 5;

}
#jour div:nth-child(5) {
    grid-column: 6;
  
}
#jour div:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
}
#jour div:nth-child(7) {
    grid-column: 1;
    grid-row: 3;
}
#jour div:nth-child(8) {
    grid-column: 1;
    grid-row: 4;
}
#jour div:nth-child(9) {
    grid-column: 1;
    grid-row: 5;
}
#jour div:nth-child(10) {
    grid-column: 1;
    grid-row: 6;
}
#jour div:nth-child(11) {
    grid-column: 1;
    grid-row: 7;
}
#jour div:nth-child(12) {
    grid-column: 1;
    grid-row: 8;
}
#jour div:nth-child(13) {
    grid-column: 1;
    grid-row: 9;
}
#jour div:nth-child(14) {
    grid-column: 1;
    grid-row: 10;
}
#jour div:nth-child(15) {
    grid-column: 1;
    grid-row: 11;
}
#jour div:nth-child(16) {
    grid-column: 1;
    grid-row: 12;
}
#jour div.heure {
    grid-column: 1;
    grid-row: 1 / 12;
    background-color:$couleurRose;
    opacity: .25;
}
#jour div.lundi {
    grid-row: 2 / 6;
    grid-column: 2;
    border: 1px solid #aaa;

}
#jour div.mardi {
    grid-row: 13 / 6;
    grid-column: 3;
}
#jour div.pauseCommuneMardi {
    grid-row: 6 / 8;
    grid-column: 3;

}
#jour div.mercredi {
    grid-column: 4;
    grid-row: 2 / 5;
}
#jour div.dispo_mercredi {
    grid-row: 6 / 7;
    grid-column: 4;
}
#jour div.jeudi_1 {
    grid-column: 5;
    grid-row: 2 / 6;
}
#jour div.dispo_jeudi {
    grid-row: 6 / 8;
    grid-column: 5;
}
#jour div.jeudi_2 {
    grid-row: 8 / 12;
    grid-column: 5;
}
#jour div.dispo_vendredi {
    grid-row: 7 / 8;
    grid-column: 6;
}
#jour div.vendredi {
    grid-row: 6 / 11;
    grid-column: 6;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.pause {
    background-color: yellow;
}